In [2]:
for letter in ['h','e','l','l','o']:
    print(letter)

h
e
l
l
o

In [3]:
for letter in 'hello':
    print(letter)

h
e
l
l
o

In [4]:
int('Six')

ValueError: invalid literal for int() with base 10: 'Six'

In [8]:
if None:
    print("X")

In [9]:
for country in 'germany','india','israel':
    print(country)

germany
india
israel

In [11]:
dog_weight =(('pug',20),
            ('poodle',40),
            ('doberman',60))
for i, (dog,weight) in enumerate(dog_weight):
    print("The dog at index %d is %s and its weight is %s in pounds" %(i,dog,weight))

The dog at index 0 is pug and its weight is 20 in pounds
The dog at index 1 is poodle and its weight is 40 in pounds
The dog at index 2 is doberman and its weight is 60 in pounds

In [12]:
for i in 'selena':
    print(i)
else:
    print("We have run out of characters to print")

s
e
l
e
n
a
We have run out of characters to print

In [13]:
names =[['joey','chandler','monica'],
        ['rachael','ross','pheobe']]
for name in names:
    for firstname in name:
        print(firstname)

joey
chandler
monica
rachael
ross
pheobe

In [14]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
rnum = range(0,10)
print(type(rnum))

<class 'range'>

In [19]:
len(list(range(-5,5)))

10

In [20]:
list(range(5))

[0, 1, 2, 3, 4]

In [21]:
for i in range (2 ** 3):
    print("BC")

BC
BC
BC
BC
BC
BC
BC
BC

In [22]:
for i in reversed("atikin"):
    print(i)

n
i
k
i
t
a

In [23]:
list(range(5,10,1))

[5, 6, 7, 8, 9]

In [24]:
list(range(5,10,2))

[5, 7, 9]

In [25]:
list(range(5,-10,-2))

[5, 3, 1, -1, -3, -5, -7, -9]

In [26]:
list(range(-5,-10,-2))

[-5, -7, -9]

SyntaxError: invalid syntax (<ipython-input-27-d5d570ebfb94>, line 1)

In [28]:
num_list = list(range(1,15))
for num in num_list:
    print("cube of ", num, "is",num**3)

cube of  1 is 1
cube of  2 is 8
cube of  3 is 27
cube of  4 is 64
cube of  5 is 125
cube of  6 is 216
cube of  7 is 343
cube of  8 is 512
cube of  9 is 729
cube of  10 is 1000
cube of  11 is 1331
cube of  12 is 1728
cube of  13 is 2197
cube of  14 is 2744

In [29]:
names =[['joey','chandler','monica'],
        ['rachael','ross','pheobe']]
firstnames = []

for name in names:
    for firstname in name:
        firstnames.append(firstname)
print(firstnames)

['joey', 'chandler', 'monica', 'rachael', 'ross', 'pheobe']

In [30]:
for year in range(2000,3000):
    if year%4 == 0 :
        print(year)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2100
2104
2108
2112
2116
2120
2124
2128
2132
2136
2140
2144
2148
2152
2156
2160
2164
2168
2172
2176
2180
2184
2188
2192
2196
2200
2204
2208
2212
2216
2220
2224
2228
2232
2236
2240
2244
2248
2252
2256
2260
2264
2268
2272
2276
2280
2284
2288
2292
2296
2300
2304
2308
2312
2316
2320
2324
2328
2332
2336
2340
2344
2348
2352
2356
2360
2364
2368
2372
2376
2380
2384
2388
2392
2396
2400
2404
2408
2412
2416
2420
2424
2428
2432
2436
2440
2444
2448
2452
2456
2460
2464
2468
2472
2476
2480
2484
2488
2492
2496
2500
2504
2508
2512
2516
2520
2524
2528
2532
2536
2540
2544
2548
2552
2556
2560
2564
2568
2572
2576
2580
2584
2588
2592
2596
2600
2604
2608
2612
2616
2620
2624
2628
2632
2636
2640
2644
2648
2652
2656
2660
2664
2668
2672
2676
2680
2684
2688
2692
2696
2700
2704
2708
2712
2716
2720
2724
2728
2732
2736
2740
2744
2748
2752
2756
2760
2764
2768
2772
2776
2780
2784
2788
2792
2796
2800
2804
2808
2812
2816
2820
2824
2828
2832
2836
2840
2844
2848
2852
2856
2860
2864
2868
2872
2876
2880
2884
2888
2892
2896
2900
2904
2908
2912
2916
2920
2924
2928
2932
2936
2940
2944
2948
2952
2956
2960
2964
2968
2972
2976
2980
2984
2988
2992
2996