In [1]:
def multiply(x,y):
    return x*y

In [3]:
multiply(2,3)

6

In [4]:
[multiply(x,y) for x in range(1,10) for y in range(11,15)]

[11,
 12,
 13,
 14,
 22,
 24,
 26,
 28,
 33,
 36,
 39,
 42,
 44,
 48,
 52,
 56,
 55,
 60,
 65,
 70,
 66,
 72,
 78,
 84,
 77,
 84,
 91,
 98,
 88,
 96,
 104,
 112,
 99,
 108,
 117,
 126]

In [5]:
def documented_function():
    """ This func does something that is well documented"""
    print("hello")

In [6]:
documented_function()

hello

In [7]:
documented_function

In [9]:
documented_function.__doc__

' This func does something that is well documented'

In [11]:
another_function = documented_function

In [12]:
another_function

In [2]:
print("alice","peter","greg", sep = "||")

alice||peter||greg

In [3]:
print("alice","peter","greg", end = "*X*XX*")

alice peter greg*X*XX*

In [6]:
#Defalut Arguments

def print_student_details(name,school,physics,chemistry,maths,biology,enrolled=False):
    
    total = physics + chemistry + maths + biology
    print("Name:", name)
    print("School:", school , "Enrolled:" , enrolled)
    print ("Score:", total)

In [7]:
print_student_details("nikita","NYU",
                     physics=100,chemistry=90,maths=100,biology=81,enrolled=True)

Name: nikita
School: NYU Enrolled: True
Score: 371

In [8]:
print_student_details("nikita","NYU",
                     physics=100,chemistry=90,maths=100,biology=81,enrolled=False)

Name: nikita
School: NYU Enrolled: False
Score: 371

In [9]:
print_student_details("nikita","NYU",
                     physics=100,chemistry=90,maths=100,biology=81)

Name: nikita
School: NYU Enrolled: False
Score: 371

In [10]:
def print_student_details(name,school,physics,chemistry,maths,biology=50,enrolled=False):
    
    total = physics + chemistry + maths + biology
    print("Name:", name)
    print("School:", school , "Enrolled:" , enrolled)
    print ("Score:", total)

In [11]:
print_student_details("nikita","NYU",
                     physics=100,chemistry=90,maths=100)

Name: nikita
School: NYU Enrolled: False
Score: 340

In [14]:
def print_student_details(name = "Name",school="School",physics=0,chemistry=0,maths=0,biology=0,enrolled=False):
    
    total = physics + chemistry + maths + biology
    print("Name:", name)
    print("School:", school , "Enrolled:" , enrolled)
    print ("Score:", total)

In [15]:
print_student_details()

Name: Name
School: School Enrolled: False
Score: 0

In [16]:
print_student_details(name="Nikita")

Name: Nikita
School: School Enrolled: False
Score: 0

In [17]:
#variable length arguments

def print_fn(*args):
    args_type = type(args)
    print(args_type)
    
    print(args)

In [18]:
print_fn()

<class 'tuple'>
()

In [22]:
sum((2,3))

5

In [23]:
def summation(*args):
    return(sum(args))

In [24]:
summation(2,3,4)

9

In [25]:
summation()

0

In [26]:
def student_details(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [27]:
student_details()

<class 'dict'>
{}

In [28]:
student_details("nikita")

TypeError: student_details() takes 0 positional arguments but 1 was given

In [29]:
student_details(name="nikita",age="24")

<class 'dict'>
{'name': 'nikita', 'age': '24'}

In [32]:
def student_details(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [33]:
student_details(name="nikita",age="24")

name nikita
age 24

In [34]:
details_dict = {"name":"nikita", "age":24}

In [35]:
student_details(details_dict)

TypeError: student_details() takes 0 positional arguments but 1 was given

In [36]:
student_details(**details_dict)

name nikita
age 24