In [2]:
empty_list = []
empty_list

[]

In [3]:
list1 = ["abcd","1234","xyz1"]
list1

['abcd', '1234', 'xyz1']

In [4]:
list1[2]

'xyz1'

In [5]:
max(list1)

'xyz1'

In [6]:
list1[-1]

'xyz1'

In [8]:
list1[-2]

'1234'

In [9]:
list1[2] = "asdfgh"

In [10]:
list1

['abcd', '1234', 'asdfgh']

In [11]:
cars_list = ["toyota","honda","maruti","skoda"]
cars_list

['toyota', 'honda', 'maruti', 'skoda']

In [12]:
cars_list.append("nano")

In [13]:
cars_list

['toyota', 'honda', 'maruti', 'skoda', 'nano']

In [14]:
cars_list.insert(2,"lamborghini")

In [15]:
cars_list

['toyota', 'honda', 'lamborghini', 'maruti', 'skoda', 'nano']

In [17]:
cars_list.extend(["kia","tesla"])
cars_list

['toyota',
 'honda',
 'lamborghini',
 'maruti',
 'skoda',
 'nano',
 'kia',
 'tesla',
 'kia',
 'tesla']

In [20]:
cars_list.index("toyota")

0

In [21]:
cars_list.remove("kia")

In [22]:
cars_list

['toyota',
 'honda',
 'lamborghini',
 'maruti',
 'skoda',
 'nano',
 'tesla',
 'kia',
 'tesla']

In [23]:
cars_list.remove("tesla")

In [24]:
cars_list

['toyota', 'honda', 'lamborghini', 'maruti', 'skoda', 'nano', 'kia', 'tesla']

In [25]:
cars_list.sort()

In [26]:
cars_list

['honda', 'kia', 'lamborghini', 'maruti', 'nano', 'skoda', 'tesla', 'toyota']

In [27]:
cars_list.reverse()

In [28]:
cars_list

['toyota', 'tesla', 'skoda', 'nano', 'maruti', 'lamborghini', 'kia', 'honda']

In [29]:
cars_list.pop()
cars_list

['toyota', 'tesla', 'skoda', 'nano', 'maruti', 'lamborghini', 'kia']

In [30]:
cars_list.pop()

'kia'

In [31]:
cars_list

['toyota', 'tesla', 'skoda', 'nano', 'maruti', 'lamborghini']

In [33]:
cars_list += ["kia","honda"]

In [34]:
cars_list

['toyota',
 'tesla',
 'skoda',
 'nano',
 'maruti',
 'lamborghini',
 'kia',
 'honda',
 'kia',
 'honda']

In [35]:
cars_list.count("Kia")

0

In [36]:
cars_list.count("kia")

2

In [37]:
set(cars_list)

{'honda', 'kia', 'lamborghini', 'maruti', 'nano', 'skoda', 'tesla', 'toyota'}

In [38]:
cars_list.clear()

In [39]:
cars_list

[]

In [52]:
Cars_list = ['honda', 'kia', 'lamborghini', 'maruti', 'nano', 'skoda', 'tesla', 'toyota']

In [50]:
new_list = cars_list.copy()

In [45]:
new_list

[]

In [46]:
Cars_list

['honda', 'kia', 'lamborghini', 'maruti', 'nano', 'skoda', 'tesla', 'toyota']

In [47]:
del Cars_list

In [48]:
Cars_list

NameError: name 'Cars_list' is not defined

In [51]:
new_list

[]

In [53]:
cars_list

[]

In [54]:
Cars_list = ['honda', 'kia', 'lamborghini', 'maruti', 'nano', 'skoda', 'tesla', 'toyota']

In [55]:
cars_list

[]

In [56]:
new = ["1","2","2"]

In [57]:
new

['1', '2', '2']

In [58]:
old = new

In [59]:
new.pop()

'2'

In [60]:
old

['1', '2']

In [61]:
newer = old.copy()

In [62]:
newer

['1', '2']

In [63]:
num_list = [10,20,30,40,77,98439,2,232]
num_list

[10, 20, 30, 40, 77, 98439, 2, 232]

In [64]:
num_list.sort()
num_list

[2, 10, 20, 30, 40, 77, 232, 98439]

In [65]:
num_list.append(22)

In [66]:
num_list

[2, 10, 20, 30, 40, 77, 232, 98439, 22]

In [67]:
new_num_list = sorted(num_list)
new_num_list

[2, 10, 20, 22, 30, 40, 77, 232, 98439]

In [68]:
sum(num_list)

98872

In [69]:
num_list *= 2

In [72]:
num_list.sort()

In [75]:
num_list

[2, 2, 10, 10, 20, 20, 22, 22, 30, 30, 40, 40, 77, 77, 232, 232, 98439, 98439]

In [76]:
all([0])

False

In [77]:
all([num_list])

True

In [82]:
num_list.append(-1)
all(num_list)

True

In [79]:
num_list

[2,
 2,
 10,
 10,
 20,
 20,
 22,
 22,
 30,
 30,
 40,
 40,
 77,
 77,
 232,
 232,
 98439,
 98439,
 -1]

In [83]:
any(num_list)

True

In [85]:
num_list.append(0)
all(num_list)

False

In [86]:
any(num_list)

True