In [1]:
import pandas as pd

In [2]:
data = {'Company' : ['HP', 'IBM', 'Intel', 'Microsoft', 
                     'Amazon', 'Apple Inc.'],
      
        'Headquarters' : ['California', 'New York', 'California', 
                        'Washington', 'Washington', 'California'],
      
        'CEO'         : ['Dion Weisler', 'Ginni Rometty', 'Robert H. Swan', 
                       'Satya Nadella', 'Jeff Bezos','Tim Cook'],
      
       }

tech_company_df = pd.DataFrame(data)

tech_company_df

      Company Headquarters             CEO
0          HP   California    Dion Weisler
1         IBM     New York   Ginni Rometty
2       Intel   California  Robert H. Swan
3   Microsoft   Washington   Satya Nadella
4      Amazon   Washington      Jeff Bezos
5  Apple Inc.   California        Tim Cook

In [3]:
tech_company_df.to_excel('./datasets/Tech_company.xlsx', 
                         index = False)

print('Data Exported to EXCEL file')

Data Exported to EXCEL file

In [4]:
tech_company_df.to_csv('./datasets/Tech_company.txt', 
                       index = False)

print('Data Exported to TEXT file')

Data Exported to TEXT file

In [5]:
tech_company_df.to_csv('./datasets/Tech_companys.csv', 
                       index = False)

print('Data Exported to CSV file')

Data Exported to CSV file

In [6]:
tech_company_df.to_csv('./datasets/Tech_company.doc', 
                       index = False)

print('Data Exported to DOCUMENT file')

Data Exported to DOCUMENT file

In [7]:
tech_company_df.to_json('datasets/Tech_company.json')

print('Data Exported to JSON file')

Data Exported to JSON file

In [8]:
tech_company_df.to_html('./DATASETS/Tech_company.html', index = False)

print('Data Exported to HTML file')

Data Exported to HTML file