In [1]:
import pandas as pd

In [2]:
data = {'Company' : ['HP', 'IBM', 'Intel', 'Microsoft', 
                     'Amazon', 'Apple Inc.'],
      
        'Headquarters' : ['California', 'New York', 'California', 
                        'Washington', 'Washington', 'California'],
      
        'CEO'         : ['Dion Weisler', 'Ginni Rometty', 'Robert H. Swan', 
                       'Satya Nadella', 'Jeff Bezos','Tim Cook'],
      
       }

tech_company_df = pd.DataFrame(data)
tech_company_df

      Company Headquarters             CEO
0          HP   California    Dion Weisler
1         IBM     New York   Ginni Rometty
2       Intel   California  Robert H. Swan
3   Microsoft   Washington   Satya Nadella
4      Amazon   Washington      Jeff Bezos
5  Apple Inc.   California        Tim Cook

In [4]:
tech_company_df.to_excel('./datasets/Tech_Comp.xlsx',index = False)

In [6]:
tech_company_df.to_csv('./datasets/Tech_Comp.txt',index = False)

In [7]:
tech_company_df.to_csv('./datasets/Tech_Comp.csv',index = False)

In [9]:
tech_company_df.to_json('./datasets/Tech_Comp.json')

In [10]:
tech_company_df.to_html('./datasets/Tech_Comp.html')