In [1]:
import pandas as pd

#### Create data to load into a DataFrame
Data for some US-based tech companies

In [2]:
data = {'Company' : ['HP', 'IBM', 'Intel', 'Microsoft', 
                     'Amazon', 'Apple Inc.'],
      
        'Headquarters' : ['California', 'New York', 'California', 
                        'Washington', 'Washington', 'California'],
      
        'CEO'         : ['Dion Weisler', 'Ginni Rometty', 'Robert H. Swan', 
                       'Satya Nadella', 'Jeff Bezos','Tim Cook'],
      
       }

#### Create a DataFrame from the data

In [3]:
tech_company_df = pd.DataFrame(data)

tech_company_df

      Company Headquarters             CEO
0          HP   California    Dion Weisler
1         IBM     New York   Ginni Rometty
2       Intel   California  Robert H. Swan
3   Microsoft   Washington   Satya Nadella
4      Amazon   Washington      Jeff Bezos
5  Apple Inc.   California        Tim Cook

#### The itertuples() function
This returns a list of named tuples, each representing a row in the Dataframe. The cells of the rows can be accessed by the field names which correspond to the column names

In [4]:
for row in tech_company_df.itertuples():
    print(row)

Pandas(Index=0, Company='HP', Headquarters='California', CEO='Dion Weisler')
Pandas(Index=1, Company='IBM', Headquarters='New York', CEO='Ginni Rometty')
Pandas(Index=2, Company='Intel', Headquarters='California', CEO='Robert H. Swan')
Pandas(Index=3, Company='Microsoft', Headquarters='Washington', CEO='Satya Nadella')
Pandas(Index=4, Company='Amazon', Headquarters='Washington', CEO='Jeff Bezos')
Pandas(Index=5, Company='Apple Inc.', Headquarters='California', CEO='Tim Cook')

#### Accessing the fields from the named tuples
Like with any object, use the dot notation to access individual values

In [5]:
for row in tech_company_df.itertuples():
    print('Company: ', row.Company)
    print('Headquarters: ', row.Headquarters, '\n')

Company:  HP
Headquarters:  California

Company:  IBM
Headquarters:  New York

Company:  Intel
Headquarters:  California

Company:  Microsoft
Headquarters:  Washington

Company:  Amazon
Headquarters:  Washington

Company:  Apple Inc.
Headquarters:  California

#### The iterrows() function
This returns the row index along with the row contents in a Pandas Series object

In [6]:
for row_index, row in tech_company_df.iterrows():
    print('Row Index: ', row_index)
    print('Row contents:\n', row, '\n')

Row Index:  0
Row contents:
 Company                   HP
Headquarters      California
CEO             Dion Weisler
Name: 0, dtype: object

Row Index:  1
Row contents:
 Company                   IBM
Headquarters         New York
CEO             Ginni Rometty
Name: 1, dtype: object

Row Index:  2
Row contents:
 Company                  Intel
Headquarters        California
CEO             Robert H. Swan
Name: 2, dtype: object

Row Index:  3
Row contents:
 Company             Microsoft
Headquarters       Washington
CEO             Satya Nadella
Name: 3, dtype: object

Row Index:  4
Row contents:
 Company             Amazon
Headquarters    Washington
CEO             Jeff Bezos
Name: 4, dtype: object

Row Index:  5
Row contents:
 Company         Apple Inc.
Headquarters    California
CEO               Tim Cook
Name: 5, dtype: object

#### Row contents can be accessed from the returned Pandas Series
We get the company name and its CEO from the Series

In [7]:
for row_index, row in tech_company_df.iterrows():
    print('Row Index: ', row_index)
    print('Company Name:', row[0])
    print('Company CEO:', row[2], '\n')

Row Index:  0
Company Name: HP
Company CEO: Dion Weisler

Row Index:  1
Company Name: IBM
Company CEO: Ginni Rometty

Row Index:  2
Company Name: Intel
Company CEO: Robert H. Swan

Row Index:  3
Company Name: Microsoft
Company CEO: Satya Nadella

Row Index:  4
Company Name: Amazon
Company CEO: Jeff Bezos

Row Index:  5
Company Name: Apple Inc.
Company CEO: Tim Cook

#### The iteritems() function returns the column name and column contents
The column name is the key, the value is a Series object containing the data of the column

In [8]:
for key, value in tech_company_df.iteritems():
    print('Key is :', key)
    print('Value is:\n', value, '\n')

Key is : Company
Value is:
 0            HP
1           IBM
2         Intel
3     Microsoft
4        Amazon
5    Apple Inc.
Name: Company, dtype: object

Key is : Headquarters
Value is:
 0    California
1      New York
2    California
3    Washington
4    Washington
5    California
Name: Headquarters, dtype: object

Key is : CEO
Value is:
 0      Dion Weisler
1     Ginni Rometty
2    Robert H. Swan
3     Satya Nadella
4        Jeff Bezos
5          Tim Cook
Name: CEO, dtype: object