In [1]:
import pandas as pd
import numpy as np

In [2]:
sample_list = pd.Series(range(10))

In [3]:
sample_list

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
sample_list[sample_list < 3]

0    0
1    1
2    2
dtype: int64

In [5]:
sample_list.where(sample_list < 3)

0    0.0
1    1.0
2    2.0
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [6]:
sample_list.mask(sample_list < 3)

0    NaN
1    NaN
2    NaN
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [7]:
sample_list.where(sample_list > 3,'x')

0    x
1    x
2    x
3    x
4    4
5    5
6    6
7    7
8    8
9    9
dtype: object

In [9]:
sample_list.mask(sample_list > 3, 'x')

0    0
1    1
2    2
3    3
4    x
5    x
6    x
7    x
8    x
9    x
dtype: object

In [10]:
sample_list.where(sample_list > 3, 'x') == pd.Series(range(10))

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [12]:
df = pd.DataFrame({ 'color':['red','blue','green','yellow','blue','green','green'],
                     'vehicle':['truck','bus','van','truck','bus','van','car']})

In [13]:
df

    color vehicle
0     red   truck
1    blue     bus
2   green     van
3  yellow   truck
4    blue     bus
5   green     van
6   green     car

In [14]:
df.duplicated('color')

0    False
1    False
2    False
3    False
4     True
5     True
6     True
dtype: bool

In [15]:
df.drop_duplicates('color')

    color vehicle
0     red   truck
1    blue     bus
2   green     van
3  yellow   truck

In [16]:
df.drop_duplicates('color', keep = 'first')

    color vehicle
0     red   truck
1    blue     bus
2   green     van
3  yellow   truck

In [17]:
df.drop_duplicates('color', keep = 'last')

    color vehicle
0     red   truck
3  yellow   truck
4    blue     bus
6   green     car

In [18]:
df.drop_duplicates('color', keep = False)

    color vehicle
0     red   truck
3  yellow   truck

In [20]:
df.duplicated(['color','vehicle'])

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [21]:
df.drop_duplicates(['color','vehicle'])

    color vehicle
0     red   truck
1    blue     bus
2   green     van
3  yellow   truck
6   green     car

In [22]:
pd.crosstab(df['color'],
            df['vehicle'],
            margins = True)

vehicle  bus  car  truck  van  All
color
blue       2    0      0    0    2
green      0    1      0    2    3
red        0    0      1    0    1
yellow     0    0      1    0    1
All        2    1      2    2    7