In [1]:
import numpy as np
import pandas as pd

In [2]:
string_data = pd.Series(['Ant','Dog','Cat','Bull','Elephant'])
string_data

0         Ant
1         Dog
2         Cat
3        Bull
4    Elephant
dtype: object

In [5]:
string_data.str.lower()

0         ant
1         dog
2         cat
3        bull
4    elephant
dtype: object

In [6]:
string_data.str.upper()

0         ANT
1         DOG
2         CAT
3        BULL
4    ELEPHANT
dtype: object

In [7]:
string_data.str.swapcase()

0         aNT
1         dOG
2         cAT
3        bULL
4    eLEPHANT
dtype: object

In [8]:
String_data_lower = string_data.str.lower()
String_data_lower

0         ant
1         dog
2         cat
3        bull
4    elephant
dtype: object

In [9]:
String_data_lower.str.capitalize()

0         Ant
1         Dog
2         Cat
3        Bull
4    Elephant
dtype: object

In [11]:
string_data.str.len()

0    3
1    3
2    3
3    4
4    8
dtype: int64

In [13]:
string_data = pd.Series(["String One",
                         "String-Two",
                         "   String:Three   ",
                         np.nan,
                         "#425",
                         "number%57"])

string_data

0            String One
1            String-Two
2       String:Three
3                   NaN
4                  #425
5             number%57
dtype: object

In [14]:
string_data.str.upper()

0            STRING ONE
1            STRING-TWO
2       STRING:THREE
3                   NaN
4                  #425
5             NUMBER%57
dtype: object

In [15]:
string_data.str.upper().str.capitalize()

0            String one
1            String-two
2       string:three
3                   NaN
4                  #425
5             Number%57
dtype: object

In [16]:
string_data.str.len()

0    10.0
1    10.0
2    18.0
3     NaN
4     4.0
5     9.0
dtype: float64

In [17]:
stripped_data = string_data.str.strip()
stripped_data

0      String One
1      String-Two
2    String:Three
3             NaN
4            #425
5       number%57
dtype: object

In [18]:
stripped_data.str.len()

0    10.0
1    10.0
2    12.0
3     NaN
4     4.0
5     9.0
dtype: float64

In [19]:
string_data.str.isnumeric()

0    False
1    False
2    False
3      NaN
4    False
5    False
dtype: object

In [20]:
data = pd.Series([1, "#2", '3' , '4', 'ant'])
data

0      1
1     #2
2      3
3      4
4    ant
dtype: object

In [21]:
data.str.isnumeric()

0      NaN
1    False
2     True
3     True
4    False
dtype: object

In [22]:
string_data.str.cat(sep=" | ")

'String One | String-Two |    String:Three    | #425 | number%57'

In [23]:
string_data.str.cat(['A','B','C','D','E','F'],
                    na_rep ='_')

0            String OneA
1            String-TwoB
2       String:Three   C
3                     _D
4                  #425E
5             number%57F
dtype: object

In [28]:
string_data.str.contains('#|%|:Thr')

0    False
1    False
2     True
3      NaN
4     True
5     True
dtype: object

In [29]:
string_data.str.contains('#|%|:Thy')

0    False
1    False
2    False
3      NaN
4     True
5     True
dtype: object

In [30]:
string_data.str.find('e')

0     9.0
1    -1.0
2    13.0
3     NaN
4    -1.0
5     4.0
dtype: float64

In [31]:
string_data.str.find('ring')

0    2.0
1    2.0
2    5.0
3    NaN
4   -1.0
5   -1.0
dtype: float64

In [32]:
string_data.str.findall('e')

0       [e]
1        []
2    [e, e]
3       NaN
4        []
5       [e]
dtype: object

In [33]:
string_data.str.findall('[A-Z]+')

0    [S, O]
1    [S, T]
2    [S, T]
3       NaN
4        []
5        []
dtype: object

In [34]:
string_data.str.replace('e','*')

0            String On*
1            String-Two
2       String:Thr**
3                   NaN
4                  #425
5             numb*r%57
dtype: object

In [35]:
pattern = r'[a-z]+'

In [36]:
string_data.str.replace(pattern,'###')

0          S### O###
1          S###-T###
2       S###:T###
3                NaN
4               #425
5             ###%57
dtype: object

In [37]:
replacement = lambda x: x.group(0).upper()

In [38]:
string_data.str.replace(pattern,replacement)

0            STRING ONE
1            STRING-TWO
2       STRING:THREE
3                   NaN
4                  #425
5             NUMBER%57
dtype: object

In [39]:
string_data.str.count(' ')

0    1.0
1    0.0
2    6.0
3    NaN
4    0.0
5    0.0
dtype: float64

In [40]:
string_data.str.repeat(3)

0                       String OneString OneString One
1                       String-TwoString-TwoString-Two
2       String:Three      String:Three      String:...
3                                                  NaN
4                                         #425#425#425
5                          number%57number%57number%57
dtype: object